* { /** seletor global*/
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --travelgram: rgb(227, 100, 110);
  --techNews: rgb(57, 150, 219);
  --paginadereceitaEzingen: rgb(234, 189, 95);
  --refund: rgb(130, 188, 79);
  --vermelho: #E3646E;
  --purple: #BB72E9;

  --gray-100: rgb(226, 228, 233);
  --gray-200: rgb(192, 196, 206);
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: rgb(13, 14, 17);

  
  --font-asap: 'Asap', sans-serif;
  --font-inconsolata: 'Inconsolata', monospace;
  --font-maven: 'Maven Pro', sans-serif;

  /*ASAP*/
  --h1: 700 56px/120% var(--font-asap);
  --h2: 700 24px/120% var(--font-asap);

  /*INCONSOLATA*/
  --subtitle: 400 20px/120% var(--font-inconsolata);

  /*Maven Pro*/
  --text-md0: 400 16px/140% var(--font-maven);
  --text-md1: 400 14px/140% var(--font-maven);
  --p: 700 16px/120% var(--font-maven);
}

body {
  background-color: var(--gray-400);
}

main img {
  max-width: 100%;
  
}